<footer class="pl1 pr1 sans-serif mt2 mb5">
  <div class="md-col-5 lg-col-4 col-12 mx-auto h5">
    <a href="{{ site.baseurl }}/" class="gray underline-none mrhalf">Home</a>
    <a href="{{ site.baseurl }}/writings/" class='gray underline-none mrhalf'>Writings</a>
    <a href="{{ site.baseurl }}/teacher/" class='gray underline-none mrhalf'>Teacher</a>
    <a href="{{ site.baseurl }}/hire/" class='gray underline-none mrhalf'>Hire</a>
    <a href="{{ site.twitter }}" class="gray underline-none mrhalf">@sugandaaa_</a>
  </div>
</footer>
