$breakpoint-sm: '(min-width: 40rem)' !default;
$breakpoint-md: '(min-width: 52rem)' !default;
$breakpoint-lg: '(min-width: 86rem)' !default;

$serif: 'Merriweather', serif;
$sans-serif: 'Source Sans Pro', sans-serif;

$blue:       #55B7DD;
$green:      #4caf50;
$red:        #EA5B12;
$yellow:     #FED400;
$gray:       #74777B;
$light-gray: #E1E3E4;
$dark-gray:  #545B5C;
$black:      #3A3A3A;
$silver:     #E0E0DC;
$white:      #FCFFFD;
$gold:       #ffb700;
$orange:     #ff6300;

$colors:(
  'blue':       $blue,
  'green':      $green,
  'red':        $red,
  'yellow':     $yellow,
  'gray':       $gray,
  'light-gray': $light-gray,
  'dark-gray':  $dark-gray,
  'black':      $black,
  'silver':     $silver,
  'white':      $white,
  'gold':       $gold,
  'orange':     $orange,
);
