body {
    font-family: 'Muli';
    text-align: center;
    color: #707070;
}

body h1 {
    font-size: 65px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
}

body h2 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

body h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* width: 100vh; */
}
