---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <div class="post">
    {{ content }}

    {% if page.lastUpdate %}
    <p>Inspired by <a href="https://sivers.org/now">Derek Sivers' now page</a>.</p>

    <p>Previous now updates, can be found at <a href="{{ site.baseurl }}/then/">then</a>.</p>
    {% else %}
    <p>What I'm currently doing <a href="{{ site.baseurl }}/now/">now</a>.</p>
    {% endif %}

    {% if page.lastUpdate %}
    <p>Updated on {{ page.lastUpdate | date: "%B %d, %Y" }}.</p>
    {% endif %}
  </div>
</article>
