---
layout: default
---
<article itemid='https://michaelsoolee.com{{ page.url }}' itemscope itemtype='http://schema.org/BlogPosting' itemprop="mainEntityOfPage" class="border-bottom mb3 pb2">
  <header class="mb2">
    {% if page.link %}
    <h1 itemprop="headline" class="mbhalf"><a href="{{page.link}}" target="_blank">{{ page.title }}</a></h1>
    {% else %}
    <h1 itemprop="headline" class="mbhalf">{{ page.title }}</h1>
    {% endif %}
    <div class="h5 gray">
      Written by <a href="{{ site.baseurl }}/about/" class="gray" itemprop="author">Sugeng Agung Suganda</a> on <span itemprop="datePublished" content="{{page.date}}">{{ page.date | date: "%B %-d, %Y" }}</span>
    </div>
  </header>
  <div class="post" itemprop='articleBody'>
    {{ content }}
    {% if page.cta == 'tinywins' %}
    {% include cta/tinywins.html %}
    {% endif %}
  </div>

  {% if page.cta != 'tinywins' and page.cta %}
  {% include cta/{{page.cta}}.html %}
  {% endif %}
</article>

<div>
  <p>:wave: Hey hey, I'm <a href="{{ site.baseurl }}/">Sugeng Agung Suganda</a>! I really appreciate you taking the time to read this article.</p>
  <!--<p>If you'd more articles like this, you can <a href="{{ site.newsletter }}">get them by email</a>.</p>-->
</div>

<div class='mt1 clearfix'>
  {% if page.previous.url %}
		<div class="serif mbhalf">Previous post: <a href="{{ page.previous.url }}" class="sans-serif">{{page.previous.title}}</a></div>
  {% endif %}
  {% if page.next.url %}
		<div class="serif mbhalf">Next post: <a href="{{ page.next.url }}" class="sans-serif">{{page.next.title}}</a></div>
  {% endif %}
</div>
